<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>设置头像</title>
    <style>
    .img-container {
        width: 500px;
        height: 500px;
        float:left;
    }
    .img-preview {
        float: left;
        overflow: hidden;
        margin-left: 20px;
    }
    .preview-lg {
        width: 240px;
        height: 240px;
    }
    .preview-md {
        width: 80px;
        height: 80px;
    }
    </style>
</head>
<body>
        <?php view('common.nav'); ?>
    <h1>设置头像</h1>

    <form action="/user/setavatar" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_token" value="<?=csrf()?>">

        <!-- 显示原图 -->
        <div class="img-container">
            <img id="image" src="" alt="Picture">
        </div>
        <!-- 预览图片 -->
        <div class="docs-preview clearfix">
            <div class="img-preview peview-lg"></div>
            <div class="img-preview preview-md"></div>
        </div>

        <div>
            选择头像：
            <input id="img" type="file" name="avatar">
        </div>
        <div>
            <input type="submit" value="设置头像">
        </div>
        <input type="text" name="x" id="x">
        <input type="text" name="y" id="y">
        <input type="text" name="w" id="w">
        <input type="text" name="h" id="h">
    </form>

    <div style="clear: both;"></div>
    <?php view('common.footer'); ?>
</body>
</html>
<script src="/cropper/cropper.min.js"></script>
<link rel="stylesheet" href="/cropper/cropper.min.css">
<script>
var $image = $('#image')
var x = $('#x')
var y = $('#y')
var w = $('#w')
var h = $('#h')
$("#img").change(function(){
    var url = getObjectUrl(this.files[0])
    $image.attr('src',url)
    $image.cropper("destroy")
    $image.cropper({
        aspectRatio:1,
        preview:'.img-preview',
        viewMode:3,
        crop:function(event){
            x.val(event.detail.x);
            y.val(event.detail.y);
            w.val(event.detail.width);
            h.val(event.detail.height);
        }
    })
});

// 预览时需要使用下面这个函数转换一下(为了兼容不同的浏览器，所以要判断支持哪一种函数就使用哪一种)
function getObjectUrl(file) {
    var url = null;
    if (window.createObjectURL != undefined) {
        url = window.createObjectURL(file)
    } else if (window.URL != undefined) {
        url = window.URL.createObjectURL(file)
    } else if (window.webkitURL != undefined) {
        url = window.webkitURL.createObjectURL(file)
    }
    return url
}

</script>
<!-- <script>
    var img = document.getElementById('img');
    img.onchange = function(){
        var img1 = this.files[0];
        var fileSize = img1.size;
        //每块的尺寸
        var perSize = 4096; //4k
        var count = Math.ceil(fileSize/perSize);
        var name = "img_"+Math.random(1,99999);

        for(var i=0;i<count;i++){
           var img0 = img1.slice(i*perSize,i*perSize+i+perSize)
           var f = new FormData()
           f.append('img',img0)
           f.append('count',count)
           f.append('i',i)
           f.append('size',perSize)
           f.append('img_name',name)
           $.ajax({
               type:"POST",
               url:"/user/uploadbig",
               data:f,
               contentType:false,
               processData:false,
               success:function(data){

               }
           });
        }

    }
</script> -->