<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
</head>
<body>
    <?php view('common.nav') ?>
    <?php if(!isset($_SESSION['id'])): ?>
    <tr>
        <td colspan="7"><h3 style="text-align: center;color: skyblue;">请先<a href="/user/login">登录</a>再查看订单</h3></td>
    </tr>
    <?php else: ?>

    <h1>订单列表</h1>
    <table border="1" width="100%">
        <tr>
            <!-- <th>ID</th> -->
            <th>订单编号</th>
            <th>总金额</th>
            <th>下单时间</th>
            <th>订单状态</th>
            <th>支付(退款)时间</th>
            <th>操作</th>
        </tr>

        <?php foreach($data as $v): ?>
        <tr>
            <!-- <td><?=$v['id']?></td> -->
            <td><?=$v['sn']?></td>
            <td><?=$v['money']?></td>
            <td><?=$v['created_at']?></td>
            <td><?= $v['status']==0?'未支付':($v['status']==1?'已支付':'已退款'); ?></td>
            <td><?=$v['pay_time']?></td>
            <td>
                <?php if($v['status']==0): ?>
                <form target="_blank" action="/alipay/pay" method="post">
                    <?=csrf_field()?>
                    <input type="hidden" name="sn" value="<?=$v['sn']?>">
                    <input type="submit" value="点击支付">
                </form>
                <?php endif; ?>
                <?php if($v['status']==1): ?>
                <form target="_blank" action="/alipay/refund" method="post">
                    <?=csrf_field()?>
                    <input type="hidden" name="sn" value="<?=$v['sn']?>">
                    <input type="hidden" name="money" value="<?=$v['money']?>">
                    <input type="submit" value="点击退款">
                </form>
                <?php endif; ?>
            </td>
        </tr>
        <?php endforeach; ?>
        <?php endif; ?>
    </table>
    <br>
    <?=$btns?>

    <?php view('common.footer') ?>
</body>
</html>